.full-page {
  height: calc(100vh - 56px);
}

.small-text {
  font-size: 45%;
  letter-spacing: 2px;
}

.main-img {
  height: 50%;
}

.subtopic {
  font-family: "Arvo", serif;
  font-size: 20px;
  margin-top: 6%;
  margin-bottom: 0%;
  text-transform: uppercase;
  color: grey;
}

.bg-white {
  background-color: #ffffff;
}
.bg-grey {
  background-color: #f7f7f7;
}
@media only screen and (max-width: 600px) {
  .main-img {
    height: 40%;
  }
  .main-text {
    font-size: 1.7em;
    padding-bottom: 30px;
  }
}
